body,figure{
  margin:0;
}

/* Box-sizing border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* Some default styles to make each box visible */
.box {
  color:white;
  font-size: 50px;
  text-align: center;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
  padding:10px;
}

/* Colours for each box */
.box1 { background:#011638;}
.box2 { background:#9055A2;}
.box3 { background:#9055A2;}
.box4 { background:#9055A2;}
.box5 { background:#9055A2;}
.box6 { background:#9055A2;}
.box7 { background:#9055A2;}
.box8 { background:#9055A2;}
.box9 { background:#9055A2;}
.box10 { background:#9055A2;}
.box11 { background:#9055A2;}
.box12 { background:#9055A2;}
.box13 { background:#9055A2;}
.box14 { background:#9055A2;}
.box15 { background:#9055A2;}
.box16 { background:#9055A2;}
.box17 { background:#9055A2;}
.box18 { background:#011638;}



/* We start writing out flexbox here. The above is just page setup */
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  flex-wrap: wrap;
  min-height: 100vh;
  /*border: 10px solid goldenrod;*/
  /*flex-direction: column;*/
  background-image: url(http://i.imgur.com/62Xu0AG.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.box {
  flex-grow: 1;
  flex-shrink: 1;
  width: calc(25% - 20px);
  margin: 1px;

}

.box:not(.box1):not(.box18) {
  /*background-image: url(http://i.imgur.com/Vp9Q38k.gif);*/
  color: #2E294E;
  border-radius: 10%;
  min-height: 150px;
}

.box1, .box18{
  width: 100%;
  font-size: 15px;
  /*border: 1px solid blue;*/
  margin: 0;
}

.box1 {
  margin-bottom: 1px;
  font-size: 60px;
  font-family: 'Londrina Shadow', cursive;
  max-height: 150px;
}
.box18 {
  margin-top: 1px;
  max-height: 20px;
  align-self: flex-end;
}
.turns {
  font-size: 40px;
}
