body,figure{
  margin:0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Some default styles to make each box visible */
.box {
  color:white;
  font-size: 50px;
  text-align: center;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
  padding:10px;
}

/* Colours for each box */
.box1 { background:#011638;}
.box:not(.box1):not(.box18) { background:#9055A2;}
.box18 { background:#011638;}



/* We start writing out flexbox here. The above is just page setup */
.container {
  display:flex;
  flex-wrap: wrap;
  min-height: 100vh;
  /*border: 10px solid goldenrod;*/
  /*flex-direction: column;*/
  background-image: url(http://i.imgur.com/62Xu0AG.png);
  /* download above image to prevent 404 in the future */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.box {
  flex-grow: 1;
  flex-shrink: 1;
  width: 24%;
  margin: 1px;
}

.box:not(.box1):not(.box18) {
  /*background-image: url(http://i.imgur.com/Vp9Q38k.gif);*/
  color: #2E294E;
  border-radius: 10%;
  min-height: 150px;
  font-size: 100px;
}

.box1, .box18{
  width: 100%;
  font-size: 15px;
  /*border: 1px solid blue;*/
  margin: 0;
}

.box1 {
  margin-bottom: 1px;
  font-size: 60px;
  font-family: 'Londrina Shadow', cursive;
  max-height: 150px;
}
.box18 {
  margin-top: 1px;
  max-height: 20px;
  align-self: flex-end;
}
.turns {
  font-size: 40px;
}

/* I know you asked for feedback about flexbox styling, but this code looks great!
 * let me know what you'd like to be able to do and we can go over in our 1-1.
 * */
